/* Index */
.game-hot-top {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #2F5651;
    border-radius: 50%;
    top: 225px;
    right: 5px;
    color: white;
}

/* Game */
.content-game-wrap {
    position: relative;
    width: 1080px;
    height: 608px;
    margin: 0 auto;
    box-shadow: none;
    overflow: hidden;
}

.content-seo {
    background-color: #789461;
    padding: 20px;
    border-radius: 10px;
}